body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.topnav {
  float: right;
  font-size: 230%;
  margin-bottom: 900px;
  margin-top: -150px;
}

.about:hover {
  background-color: black;
}
.home:hover {
  background-color: black;
}
.portfolio:hover {
  background-color: black;
}
.contact:hover {
  background-color: black;
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-bottom: 90px;
  margin-top: 25px;
}
